.testFont {
  font-family: "winnersansmd";
  font-weight: bold;
  color: white;
  font-size: 16px;
  font-style: normal;
}

.strokeHero {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.secondtext {
  font-family: "winndersansbd";
  font-weight: 800;
  font-size: 70px;
  color: white;
}

.winnersansbd {
  font-family: "winndersansbd";
  font-weight: 800;
  color: white;
}

.gelionmd {
  font-family: "gelionmd";
  font-weight: 500;
  color: white;
}

.button {
  font-family: "winnersans";
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.popovertext {
  font-family: "gelionmd";
  font-weight: 800;
  font-size: 20px;
  color: black;
}
